<a href="https://colab.research.google.com/github/eneserozkan/eneserozkan/blob/main/OgrenciNotlariProjesi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.DataFrame(columns = ["Ad","Soyad","Okul No","Ders","Vize","Final","Ortalama","Harf Puanı","Ders Durumu"])

In [ ]:
def HarfPuanı(sınav_puanı):
    result = ""
    if(90<=sınav_puanı<=100):
        result = "AA"
    elif(80<=sınav_puanı<90):
        result = "AB"
    elif(70<=sınav_puanı<80):
        result = "BB"
    elif(60<=sınav_puanı<70):
        result = "CC"
    elif(50<=sınav_puanı<60):
        result = "DD"
    elif(0<=sınav_puanı<50):
        result = "FF"
    else:
        result = ""
    return result

def DersDurumu(sınav_puanı):
    result = ""
    if(sınav_puanı>=50):
        result = "Geçti"
        
    elif(0<=sınav_puanı<50):
        result = "Kaldı"
        
    else:
        result = ""
        
    return result

In [ ]:
while True:
    
    ad = input("Adı gir(Çıkış için q`ye bas)")
    if ad == "q":
        df.to_csv("OgrenciNotlari.csv")
        break
    soyad = input("Soyadı gir")
    okul_no = input("Okul No gir")
    ders = input("Dersi gir")
    vize = int(input("Vize Notunu Gir"))
    final = int(input("Final Notunu Gir"))
    ortalama = vize*(0.4) + final*(0.6)
    harf = HarfPuanı(ortalama)
    ders_durumu = DersDurumu(ortalama)
    
    
    dictionary = {}
    bilgiler = list(df.columns)
    liste = [ad,soyad,okul_no,ders,vize,final,ortalama,harf,ders_durumu]
    for i in range(len(liste)):
        dictionary[bilgiler[i]] = liste[i]
    df = df.append(dictionary,ignore_index = True)

Adı gir(Çıkış için q`ye bas)Mustafa
Soyadı girCan
Okul No gir213
Dersi girmatematik
Vize Notunu Gir45
Final Notunu Gir80
Adı gir(Çıkış için q`ye bas)q

In [ ]:
df

,Ad,Soyad,Okul No,Ders,Vize,Final,Ortalama,Harf Puanı,Ders Durumu
0,Mustafa,Can,213,matematik,45,80,66.0,CC,Geçti